<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>Вхід</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div th:insert="layouts/header :: header">
</div>
<div class="personal-section content-wrapper">
    <div class="main-layout">
        <div class="sidebar">
            <div>
                <div class="sidebar-header">
                    Обліковий запис
                    <div style="font-size: 0.9rem; color: #888; font-weight: normal; margin-top: 5px;">Керуйте інформацією свого облікового запису.</div>
                </div>
                <div class="sidebar-menu">
                    <a href="#" class="active"><i class="fas fa-user"></i> Профіль</a>
                    <a th:href="@{/inventory}"><i class="fas fa-shield-alt"></i> Управління запасами</a>
                    <a th:href="@{/orders}"><i class="fas fa-history"></i> Історія</a>
                    <a th:href="@{/profile/analytics}"><i class="fas fa-chart-line"></i> Аналітіка</a>
                </div>
            </div>
        </div>
        <div class="main-content flex-grow-1">
            <div class="main-content-header">
                    <h2>Деталі профілю</h2>
            </div>
            <div class="profile-section">
                <div class="profile-row">
                    <div class="profile-row-item">
                        <strong>Ім'я користувача:</strong> <span class="profile-row-label" th:text="${user.username}"></span><br>
                        <strong>Бонусні очки:</strong> <span th:text="${user.bonusPoints}"></span><br>
                        <div class="profile-details">
                            <span class="primary-label" th:text="${user.roles}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification-sidebar">
            <div class="notification-header">
                Попередження
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="notification-content">
                <div th:if="${lowStockProducts.isEmpty()}">
                    <p style="color: green;">Всі товари в достатній кількості ✅</p>
                </div>
                <div th:each="prod : ${lowStockProducts}">
                    <p>
                        <span th:text="${prod.name}"></span> – лише
                        <span th:text="${prod.quantity}"></span> шт.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<script src="/js/profile.js"></script>
</body>
</html>